logs/
*/checkpoints/
*checkpoints/
*/models/
*/wandb/
basepath.txt
*outputs/
*attackouts/
secret/
*.pyc
simulated_data/
*.out
apfpath.txt
*.jsonl
*.log 
*.out
*wandb
*.egg-info
*distilbert-imdb/
*ppochecks/
models/
*rmchecks/
*.pdf
*.pkl
oldcode/
*.vscode
*.ipynb_checkpoints/
data/
*.pickle
.nfs00000000edd9e2ab00002cfb
.nfs00000000edd9e2ac00002cfc
train_rm.sh
.nfs00000000edd9e2aa00002cfa
.nfs00000000edd9e2ad00002cfd
dpo/