logs/
*/checkpoints/
*/models/
*/wandb/
basepath.txt
*outputs/
*attackouts/
secret/
*.pyc
simulated_data/
*.out
logs/
*/checkpoints/
*/models/
*/wandb/
basepath.txt
apfpath.txt
*.jsonl
*.log 
*.out
*.pyc
*wandb